.header {
    border-bottom: 1px solid #ccc;
    height: 48px;
    display: flex;
}

.header ul {
    padding: 0;
    margin: 0 0 0 30px;
    display: flex;
    list-style: none;
}

.header li {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-width: 0 0 0 1px;
}


.header li:last-child {
    border-width: 0 1px 0 1px;
}
